
.section
{
    min-height: 100vh !important;
    padding-bottom: 150px;

    h1.title
    {
        margin: 5px;
        font-size: 4.2rem;
        line-height: 4.8rem;

        @media screen and (max-width: 970px)
        {
            font-size: 3.2rem;
            line-height: 3.8rem;
        }
        @media screen and (max-width: 480px)
        {
            font-size: 2.4rem;
            line-height: 2.6rem;
        }
    }
    .sub-title
    {
        margin: 15px 5px 5px 5px;
        font-size: 2.4rem;
        line-height: 3.4rem;

        @media screen and (max-width: 970px)
        {
            font-size: 1.8rem;
            line-height: 2.4rem;
        }
        @media screen and (max-width: 480px)
        {
            font-size: 1.6rem;
            line-height: 2.0rem;
        }

    }
}


.bg-coopathon
{
    background-image: url('~/img/bg.jpg');
    background-size: 120vw;
    background-position: center top;
    background-repeat: repeat;
    
    h2
    {
        color: rgb(0, 0, 0);
    }
    h4, p
    {
        color: rgb(59, 40, 40);
    }
}
.bg-coopathon-2
{
    background-image: url('~/img/bg-2.jpg');
    background-size: 120vw;
    background-position: center top;
    background-repeat: repeat;
    
    h2
    {
        color: rgb(0, 0, 0);
    }
    h4, p
    {
        color: rgb(25, 20, 20);
    }
}
.bg-coopathon-3
{
    background-image: url('~/img/bg-3.jpg');
    background-size: 130vw;
    background-position: center top;
    background-repeat: repeat;
    
    
    h2
    {
        color: rgb(0, 0, 0);
    }
    h3, h4, p
    {
        color: rgb(23, 21, 21);
    }
}


// 漸層色背景
.bg-linear-purple
{
    background-image: linear-gradient(to right, $red-200, $purple-300);
    
    h2
    {
        color: rgb(35, 35, 35);
    }
    h4, p
    {
        color: rgb(59, 40, 40);
    }
}
.bg-linear-green
{
    background-image: linear-gradient(to right, $teal-300, $green-400);
    
    h2
    {
        color: rgb(35, 35, 35);
    }
    h4, p
    {
        color: rgb(28, 46, 39);
    }
}
.bg-linear-blue
{
    background-image: linear-gradient(to right, $cyan-600, $indigo-400);
    
    h2
    {
        color: rgb(35, 35, 35);
    }
    h3, h4, p
    {
        color: rgb(28, 46, 39);
    }
}
